<div class="page-header">
  <h3>Bin #<%= @bin.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @bin.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/bins" class="btn btn-primary">
        Back
      </a>
      <a href="/bins/<%= @bin.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_bin/<%= @bin.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Bin has many items -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Items
      </li>

      <% @bin.items.each do |item| %>
        <li class="list-group-item">
          <a href="/items/<%= item.id %>">
            <%= item.user_id %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
