<div class="page-header">
  <h3>Item #<%= @item.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Bin</dt>
      <dd><%= @item.bin_id %></dd>

      <dt>Image</dt>
      <dd><img src="<%= @item.image %>" class="img-responsive"></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/items" class="btn btn-primary">
        Back
      </a>
      <a href="/items/<%= @item.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_item/<%= @item.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Item has many taggings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Taggings
      </li>

      <% @item.taggings.each do |tagging| %>
        <li class="list-group-item">
          <a href="/taggings/<%= tagging.id %>">
            <%= tagging.bin_id %>
          </a>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_tagging" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for item_id -->
       <input type="hidden" name="item_id" value="<%= @item.id %>">

      <!-- Label and input for tag_id -->
      <div class="form-group">
        <label for="tag_id" class="control-label">
          Tag
        </label>

        <%= select_tag(:tag_id, options_from_collection_for_select(Tag.all, :id, :name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Tagging
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Item has many tags -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tags
      </li>

      <% @item.tags.each do |tag| %>
        <li class="list-group-item">
          <a href="/tags/<%= tag.id %>">
            <%= tag.bin_id %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
